@font-face {
  font-family: 'minecraft'; /*a name to be used later*/
  src: url("Minecraftia-Regular.ttf"); /*URL to font*/
}

p, a {
  font-size: 25px;
}

p {
  text-align: justify;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.title > h1 {
  display: inline;
  text-decoration: underline black;
  color: #881dff;
  font-size: 40px;
  transition: color 300ms, text-decoration-color 1s;
}

.title > h1 > span::before {
  content: "U";
  color: black;
}

.title > h1 > span::after{
  content: "n";
  color: black;
}

.title > h1:hover {
  text-decoration: overline;
  text-decoration-color: #5eab27;
  color: #62371f;
  filter: drop-shadow(1px 1px 5px dimgray);
}

.center {
  text-align: center;
}

#back {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.4)), url("./background.jfif");
  background-position: auto, center;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-color: red;
}

#content {
  z-index: 5;
}

.indent1 {
  margin-left: 20;
}

.l_logo {
  margin-left: 25;
}

.l_logo:hover {
  margin: 0;
}

.l_logo:hover::before {
  content: url("minecraft logo.png");
}

.mojang:hover {
  content: url("mojang-logo.jpg");
  margin-left: 28;
  margin-right: 28;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: minecraft;
}

.suppr:hover span, .order:hover span, .update:hover span{
  display: none;
}

.suppr:hover::after {
  content: "la suppression de mises à jour";
}

.order:hover::after {
  content: "l'ordre de mise à jour";
}

::selection {
  color: transparent;
}

.update:hover::after {
  content: "mises à jour";
}

.logo {
  float: left;
  transition: transform 2s ease-in-out 2s;
}

.logo:hover {
  transform: translate(450px, 450px) rotate(765deg);
}