h1 {
  text-align: center;
  color: gold;
  font-size: 7vw;
}

h2 {
  text-decoration: dashed overline;
  color: red;
  font-size: 10vw;
}

h3 {
  font-family: "Comic Sans MS", "Comic Sans", "cursive";
  color: chartreuse;
}

p {
  font-family: Verdana, "Geneva", "Tahoma", "sans-serif";
  color: aquamarine;
}

body {
  background-color: brown;
}

a {
  text-decoration: double line-through rosybrown;
  font-size: 3vw;
}

.flex {
  display: flex;
}